	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
	/*	font-family: 'Questrial', sans-serif;  */
		font-family: Garamond; 
	/*	font-family: "Trebuchet MS", Helvetica, sans-serif;  */
		font-size: 14pt;
		color: #404040;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #404040;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 130%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #003399;
		text-decoration: none;
	}
	
	a:hover
	{
		color: #00A37A;
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 1000px;

	}

	.browseImage
	{
	    background:url(photos/browseImage.jpg);
	}

	.block {
		display: block;
	}

	
/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}
	
/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 1em;
		padding: 0.8em 2em;
		background: #00A37A;
		line-height: 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 1em;
		color: #FFF;
	}

	a.button:hover
	{
		background: #33CC33;
	}

		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;

	}
	
	.title h2
	{
		font-size: 1em;
		text-align: left;
	    border: 2px solid grey;
	    margin-bottom: 1em;
	}
	.title p
	{
		text-align: left;
	}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/


	#header
	{
		text-align: center;
		/*border: 2px solid grey; */
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 2em 0em 2em 0em;
		border: 2px solid green;
		background: #CCCCCC;
	}

	
	#logo h1
	{
		display: inline-block;
		margin-bottom: 0.20em;
		padding: 0.20em 0.9em;
		font-size: 3.5em;
		border: 2px solid yellow; 
	}
	
/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		height: 40px;
		border: 2px solid black;
		background: #CCCCCC;
	}
	
	#menu ul
	{
		display: inline-block;
		padding: 0em 2em;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		padding: 0em 1.5em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
/*		text-transform: uppercase;  */
		line-height: 40px;
		outline: 0;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: #FFF;
		color: #00A37A;
	}
	
	#menu .current_page_item a
	{
	}
	

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		overflow: hidden;
		width: 1000px;
		min-height: 800px;
	/*	text-align: center; */
		border: 2px solid yellow;
		/*font-family: "Trebuchet MS", Helvetica, sans-serif;  */
		font-family: Arial, Helvetica, sans-serif;

		font-size: 12pt;
	/*	background:url(photos/browseImage.jpg);*/
	}


/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		width: 600px;
		padding: 3em 50px 3em 50px;
		margin: 200 auto;
		text-align: left;
		font-family: Garamond;
		font-size: 14pt;
		border: 2px #CCCCCC;
		background: #FFFFCC;
	}

	#welcome h2
	{
		font-size: 1.2em;
	    padding-bottom: 0.5em;
 
	}

	#enter_button
	{
		width: 600px;
		text-align: center;
		border: 2px solid yellow;
		background: #FFFFCC;
	}

	#postForm
	{
		display: inline-block;
		overflow: hidden;
		width: 500px;
		height: auto;
		padding-top: 70px;
		padding-left: 40px;
		border: 2px solid yellow;
		background: #EEEEEE;
		float: left;
	}

	#postForm h1
	{

		align:center;
		margin-bottom: 0.20em;
		padding-top:0.5em;
		padding-bottom:0.5em;
		font-size: 1.5em;
		border: 2px solid yellow; 
	}

	#postformInstr
	{
		display: inline-block;
		overflow: hidden;
		width: 500px;
		height: auto;
		padding: 70px;
		border: 2px solid yellow;
		float: left;
		font-size: 12pt;
		line-height:150%;
	}

	#footer
	{
		overflow: hidden;
		width: 1000px;
		padding-top: 1em;
		text-align: center;
		border: 2px solid yellow;
		background: #CCCCCC;
	}
	.bold
	{
  		font-style:bold;
	}
	
	#approvalForm
	{
		display: inline-block;
		background: #EEEEEE;
		margin: 20px;
		padding: 15px;
		border: 1px solid #0000ff;
		height: auto;
		width: 600;
		height: auto;
		float: left;
		font-weight: normal;
	}
